src/.gradle/loom-cache/remapped_mods/loom_mappings_1_19_2_layered_hash_2198_v2/net/fabricmc/fabric-api/fabric-transitive-access-wideners-v1/1.3.0+42d99c3290/fabric-transitive-access-wideners-v1-1.3.0+42d99c3290.pom
src/.gradle/loom-cache/remapped_mods/loom_mappings_1_19_2_layered_hash_2198_v2/net/fabricmc/fabric-api/fabric-transitive-access-wideners-v1/1.3.0+42d99c3290/fabric-transitive-access-wideners-v1-1.3.0+42d99c3290.jar
src/.gradle/loom-cache/remapped_mods/loom_mappings_1_19_2_layered_hash_2198_v2/net/fabricmc/fabric-api/fabric-transitive-access-wideners-v1/1.3.0+42d99c3290/fabric-transitive-access-wideners-v1-1.3.0+42d99c3290-sources.jar
src/.gradle/loom-cache/remapped_mods/loom_mappings_1_19_2_layered_hash_2198_v2/net/fabricmc/fabric-api/fabric-resource-conditions-api-v1/2.0.11+e62f51a390/fabric-resource-conditions-api-v1-2.0.11+e62f51a390.pom
src/.gradle/loom-cache/remapped_mods/loom_mappings_1_19_2_layered_hash_2198_v2/net/fabricmc/fabric-api/fabric-resource-conditions-api-v1/2.0.11+e62f51a390/fabric-resource-conditions-api-v1-2.0.11+e62f51a390.jar
src/.gradle/loom-cache/remapped_mods/loom_mappings_1_19_2_layered_hash_2198_v2/net/fabricmc/fabric-api/fabric-resource-conditions-api-v1/2.0.11+e62f51a390/fabric-resource-conditions-api-v1-2.0.11+e62f51a390-sources.jar
src/.gradle/loom-cache/remapped_mods/loom_mappings_1_19_2_layered_hash_2198_v2/net/fabricmc/fabric-api/fabric-rendering-data-attachment-v1/0.3.14+aeb40ebe90/fabric-rendering-data-attachment-v1-0.3.14+aeb40ebe90.pom
src/.gradle/loom-cache/remapped_mods/loom_mappings_1_19_2_layered_hash_2198_v2/net/fabricmc/fabric-api/fabric-rendering-data-attachment-v1/0.3.14+aeb40ebe90/fabric-rendering-data-attachment-v1-0.3.14+aeb40ebe90-sources.jar
*.lock
src/.gradle/loom-cache/remapped_mods/loom_mappings_1_19_2_layered_hash_2198_v2/net/fabricmc/fabric-api/fabric-rendering-data-attachment-v1/0.3.14+aeb40ebe90/fabric-rendering-data-attachment-v1-0.3.14+aeb40ebe90.jar